<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <title>To Do List</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <h1 class="title">ToDo List</h1>
      <div class="input-zone">
        <input @keyup.enter="addTask" v-model="newTaskText" type="text">
        <button @click="addTask">INVIO</button>
      </div>
      <div class="error-msg">
        <span>{{errorMessage}}</span>
      </div>
      <div class="list-zone">
        <ul>
          <li @click="barTask(task)" v-for="(task, index) in tasks">
            <span :class="{'done' : task.done}">{{task.text}}</span> 
            <span @click.stop="deleteTask(index)">X</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="js/script.js"></script>
</body>
</html>